<div class="row">
  <aside class="col-sm-4">
    <%= render 'profile_card', user: @user %>
  </aside>
  <div class="col-sm-8">
    <%= render 'navtabs', user: @user %>
    <%= render 'microposts/microposts', microposts: @likes %>
  </div>
</div>